/* Logo styles */

/*
.logo {
	text-transform: uppercase;
	color: $color-white-30;
	letter-spacing: 2px;
	height: 84px;
	text-align: center;
	line-height: 84px;

	a {
		display: block;
	}
}
*/

/* Logo styles in case of having image */

.logo {
	height: 84px;
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		max-width: 75px;

		img {
			max-width: 100%;
			max-height: 30px;
		}
	}
}
