@mixin bg-img($image: null, $repeat: null, $size: null, $color: null, $position: null) {
  @if ($image) {
    background-image: url($images-folder + $image);
  }
  background-color: $color;
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

@mixin position($position: absolute, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin clear-after {
  &::after {
    content: " ";
    clear: both;
    display: block;
  }
}

@mixin ellipsis() {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Alignment

@mixin YAlign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin XAlign {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin XYAlign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
