$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-menu: "\e918";
$icon-image: "\e916";
$icon-triangle: "\e90f";
$icon-home: "\e90e";
$icon-check: "\e90d";
$icon-calendar: "\e900";
$icon-close-small: "\e901";
$icon-dashboard: "\e902";
$icon-notify: "\e903";
$icon-mail: "\e904";
$icon-close-big: "\e908";
$icon-products: "\e909";
$icon-search: "\e90a";
$icon-settings: "\e90b";
$icon-support: "\e90c";
$icon-add: "\e917";
$icon-sort-down: "\e915";
$icon-sort-up: "\e914";
$icon-arrow-left: "\e913";
$icon-arrow-right: "\e912";
$icon-warning: "\e911";
$icon-edit: "\e910";
