// Paths

$fonts-folder: "../fonts";
$images-folder: '../img/';

// Fonts

$font-primary: "Roboto", sans-serif;
$icomoon-font-family: "icons" !default;

$font-family: (
		primary: $font-primary );

// Color palette

$color-blue-light: #79ACFF !default;
$color-blue: #3B86FF !default;
$color-blue-dark: #1062E5 !default;
$color-purple: #43425D !default;
$color-red: #EF5350 !default;
$color-black: #1A1A1A !default;
$color-black-10: rgba($color-black, 0.1) !default;
$color-black-30: rgba($color-black, 0.3) !default;
$color-black-50: rgba($color-black, 0.5) !default;
$color-black-70: rgba($color-black, 0.7) !default;
$color-white-30: rgba(#FFFFFF, 0.3) !default;
$color-white-60: rgba(#FFFFFF, 0.6) !default;
$color-grey: #707070 !default;
$color-grey-dark: #4D565C !default;

// Descriptive Base Colors

$color-primary: $color-blue !default;
$color-secondary: $color-purple !default;
$color-tertiary: $color-black !default;
$color-warning: $color-red !default;
$color-disable: $color-blue-light !default;
$color-pressed: $color-blue-dark !default;
$color-border: #F1F1F3 !default;
$color-text: $color-black !default;
$color-body: #F3F3F3 !default;

$color-palette: (
		primary: $color-primary, secondary: $color-secondary, tertiary: $color-tertiary, warning: $color-warning, disable: $color-disable, white: #FFFFFF, black: $color-black
) !default;

// Font-sizes

$fs-xs: 12px; $fs-sm: 14px; $fs-md: 16px; $fs-lg: 20px; $fs-xl: 24px; $fs-xxl: 30px;

// Base font size

$base-font-size: $fs-md;

$text-font-sizes: (
		xs: $fs-xs, sm: $fs-sm, md: $fs-md, lg: $fs-lg, xl: $fs-xl, xxl: $fs-xxl
) !default;

// Font weights

$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$font-weights: (
		100: $fw-100, 200: $fw-200, 300: $fw-300, 400: $fw-400, 500: $fw-500, 600: $fw-600, 700: $fw-700, 800: $fw-800, 900: $fw-900
) ;

/* Heading sizes are not final ones. Need to be specified with the design team. */

$heading-font-sizes: (
		h6: $fs-xs, h5: $fs-sm, h4: $fs-md, h3: $fs-lg, h2: $fs-xl, h1: $fs-xxl
) !default;

// Border radius

$br-default: 4px;
$br-md: 5px;
$br-lg: 6px;
$br-rounded: 50%;
$br-none: 0;

// Transitions

$trsn-dur: .1s;
$trsn-dur-md: .2s;
$trsn-dur-lg: .3s;
$trsn-dur-xl: .5s;
$trsn-delay: 50ms;

// Container

$cont-width: 1200px;
$cont-width-sm: 500px;
$cont-width-md: 800px;
$cont-padding: 30px;
$fluid-cont-padding: 60px;

// Resolutions

$screen-lg: 1280px;
$screen-md: 1024px;
$screen-md-max: 1023px;
$screen-sm: 768px;
$screen-sm-max: 767px;
$screen-xs: 480px;
$screen-xxs: 360px;
